<table style="width:100%" class="table table-bordered">
  <thead class="table-dark">
    <tr>
      <th colspan="6">Property:123 Example Ave</th>
    </tr>
    <tr>
      <th>Year</th>
      <th class="table-column column-1">1</th>
      <th class="table-column column-2">2</th>
      <th class="table-column column-3">3</th>
      <th class="table-column column-4">4</th>
      <th class="table-column column-5">5</th>
    </tr>
  </thead>
  <tr>
    <th>Estimated Turnover</th>
      <td class="table-column column-1"></td>
      <td class="table-column column-2"></td>
      <td class="table-column column-3"></td>
      <td class="table-column column-4"></td>
      <td class="table-column column-5"></td>
  </tr>
  <tr>
    <th>Staff</th>
    <td class="table-column column-1"></td>
    <td class="table-column column-2"></td>
    <td class="table-column column-3"></td>
    <td class="table-column column-4"></td>
    <td class="table-column column-5"></td>
  </tr>
  <thead class="table-dark">
    <tr>
      <th colspan="6">Property Costs</th>
    </tr>
  </thead>
  <tr>
    <th>Projected Rent</th>
    <td class="table-column column-1"></td>
    <td class="table-column column-2"></td>
    <td class="table-column column-3"></td>
    <td class="table-column column-4"></td>
    <td class="table-column column-5"></td>
  </tr>
  <tr>
    <th>VAT</th>
    <td class="table-column column-1"></td>
    <td class="table-column column-2"></td>
    <td class="table-column column-3"></td>
    <td class="table-column column-4"></td>
    <td class="table-column column-5"></td>
  </tr>
  <tr>
    <th>Rent Free</th>
    <td class="table-column column-1"></td>
    <td class="table-column column-2"></td>
    <td class="table-column column-3"></td>
    <td class="table-column column-4"></td>
    <td class="table-column column-5"></td>
  </tr>
  <tr>
    <th>Rates</th>
    <td class="table-column column-1"></td>
    <td class="table-column column-2"></td>
    <td class="table-column column-3"></td>
    <td class="table-column column-4"></td>
    <td class="table-column column-5"></td>
  </tr>
  <tr>
    <th>Service Charge</th>
    <td class="table-column column-1"></td>
    <td class="table-column column-2"></td>
    <td class="table-column column-3"></td>
    <td class="table-column column-4"></td>
    <td class="table-column column-5"></td>
  </tr>
  <tr>
    <th>Insurance</th>
    <td class="table-column column-1"></td>
    <td class="table-column column-2"></td>
    <td class="table-column column-3"></td>
    <td class="table-column column-4"></td>
    <td class="table-column column-5"></td>
  </tr>
  <tr>
    <th>Utilities</th>
    <td class="table-column column-1"></td>
    <td class="table-column column-2"></td>
    <td class="table-column column-3"></td>
    <td class="table-column column-4"></td>
    <td class="table-column column-5"></td>
  </tr>
  <thead class="table-dark">
    <tr>
      <th colspan="6">Site Acquisition Costs</th>
    </tr>
  </thead>
  <tr>
    <th>Total</th>
    <td class="table-column column-1"></td>
    <td class="table-column column-2"></td>
    <td class="table-column column-3"></td>
    <td class="table-column column-4"></td>
    <td class="table-column column-5"></td>
  </tr>
</table>

<table style="width:100%" class="table table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Gross Profit</th>
      <td class="table-column column-1"></td>
      <td class="table-column column-2"></td>
      <td class="table-column column-3"></td>
      <td class="table-column column-4"></td>
      <td class="table-column column-5"></td>
    </tr>
  </thead>
</table>