<%= render 'hub/header'%>
<h1>New Site Appraisal</h1>

<%= render 'form', site_appraisal: @site_appraisal %>

<%= link_to 'Back', site_appraisals_path %>

<script>setTabToActive("site-appraisal-tool-link")</script>
