<br/>
<h1>Editing Listing</h1>
<br/>
<%= render 'form', listing: @listing %>
<br/>
<%= link_to 'Show', @listing, class:"btn btn-secondary" %> 

<%= link_to 'Back', listings_path, class:"btn btn-dark" %>
