<h1>About</h1>
<p>
  Re-localising our high streets is one way in which we can revive them. And thankfully, there are a growing number of independent businesses, start-ups to established locals, that are itching to start that new business venture or grow an existing one.
</p>
<p>
  Unfortunately, multiple barriers to entry exist preventing many small businesses from opening a physical store, in favour of reaching customers via online sales channels. Hatch was born out of an urge to shift the dial and make trading on the high street as accessible as possible.
</p>
<h2>Lifting Barriers</h2>
<p>
  Adam wants to open a record store in London. He’s passionate about music, but doesn’t know where to begin on leasing a shop. He wants to know where his customers are and then find an affordable shop in that location. But where is that? What can he afford? What shops are available? What is the leasing process? What are his responsibilities as a tenant? What safe guards can he agree if it doesn’t work out? You get the gist.
</p>
<p>
  Hatch provides small business owners, like Adam, with the tools they need to answer these kind of questions and feel confident throughout their journey, of finding a store to their first day of trade. We want to help take the uncertainty out of the equation.
</p>
<p>
  Hatch offers demographic insight, site affordability analysis, a guide to leasing and a small business community hub. Most importantly we offer a platform in which small business owners can project their property requirements to the marketplace. Allowing landlords to come to them with opportunities in their chosen locations. Reducing the leg work of finding a property by making it a two-way search.
</p>
<p>
  And trust us when we say this, there are landlords striving to find small businesses to lease space to, now more than ever before. We want to connect small business owners with landlords who value them to facilitate new sustainable leasing partnerships, so our high streets can flourish once more.
</p>