<h1>Hatch helps small businesses open in new locations. 
Understand where your customers are and find the best space to reach them. 
Ease the journey to opening the doors of your business with Hatch. <h1/>

<h2>Our Toolkit.</h2>
<h6>Growth Intelligence.</h6>
<p>Access demographic data and analysis to help you understand where’s best for your business and how many customers you will tap in to.</p>

<h6>Site Appraisal.</h6>
<p>A one stop calculator to help you appraise the affordability of each potential site and ensure all costs are factored into any decision.</p>

<h6>Create Listing.</h6>
<p>Advertise your business and property requirements to our database of landlords. Then sit back, relax and let them come to you.</p>

<h6>Leasing Guide.</h6>
<p>It’s easy to get bogged down with property and legal jargon. And hard to project manage an opening. Let us guide you along the way. </p>

<h6>Community Hub.</h6>
<p>Share wisdom, contacts, and tips with other small business owners. Keep up to speed on changes to things like business rates and planning regulations.</p>

<h6>Directory.</h6>
<p>Solicitors, architects,  design and fit out contractors, planning consultants, recruitment agencies, you name it, we have it.  Read reviews and recommendations.</p> 